<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About company</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>We produce pure raw honey straight from our hives to your table across the Georgia and beyond.</p>
            </div>
            <div class="col-lg-4">
                <p>Beekeeping has been a part of our families for over 50 years. All of us are committed to providing
                    the highest quality honey.</p>
            </div>

            <div class="col-lg-4">
                <p>It is a well-known fact that the flowers, herbs and blossoms on which the honey bees feed on is a key
                    contributing factor to the unique and complex flavors of honey. Our honey is pure, unfiltered and
                    never adulterated.</p>
            </div>

            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
        </div>
    </div>
</section>